{% extends 'starter-page.html' %}
{% load static %}
{% block body %}

  <!-- About Section -->
    <section id="about" class="about section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>About</h2>
        <p>At Bytebridge Technologies, we provide all Information and Communication Technology (ICT) solutions</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 align-items-center justify-content-between">

          <div class="col-xl-5" data-aos="fade-up" data-aos-delay="200">
            <span class="about-meta">MORE ABOUT US</span>
            <h2 class="about-title">We Develop software, set up Networks and configure Security Systems</h2>
            <p class="about-description">From Mobile apps, web apps, AI & ML, Networking, IoT etc</p>

            <div class="row feature-list-wrapper">
              <div class="col-md-6">
                <ul class="feature-list">
                  <li><i class="bi bi-check-circle-fill"></i>Web Design and Development</li>
                  <li><i class="bi bi-check-circle-fill"></i>Mobile apps Development</li>
                  <li><i class="bi bi-check-circle-fill"></i>Systems Security</li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="feature-list">
                  <li><i class="bi bi-check-circle-fill"></i>AI & ML models</li>
                  <li><i class="bi bi-check-circle-fill"></i>Networking</li>
                  <li><i class="bi bi-check-circle-fill"></i>Tech training classes</li>
                </ul>
              </div>
            </div>

            <div class="info-wrapper">
              <div class="row gy-4">
                <div class="col-lg-5">
                  <div class="profile d-flex align-items-center gap-3">
                    <img src="{% static 'assets/img/graduation.jpeg' %}" alt="CEO Profile" class="profile-image">
                    <div>
                      <h4 class="profile-name">Zeph Aseka</h4>
                      <p class="profile-position">CEO &amp; Founder</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-7">
                  <div class="contact-info d-flex align-items-center gap-2">
                    <i class="bi bi-telephone-fill"></i>
                    <div>
                      <p class="contact-label">Call us On...</p>
                      <p class="contact-number">+254703 297 902</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-6" data-aos="fade-up" data-aos-delay="300">
            <div class="image-wrapper">
              <div class="images position-relative" data-aos="zoom-out" data-aos-delay="400">
                <img src="{% static 'assets/img/logo2.png'%}" alt="Business Meeting" class="img-fluid main-image rounded-4">
                <img src="{% static 'assets/img/logo.png' %}" alt="Team Discussion" class="img-fluid small-image rounded-4">
              </div>
              <div class="experience-badge floating">
                <h3>2+ <span>Years</span></h3>
                <p>Of experience in Tech industry</p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

{% endblock %}