{% extends 'starter-page.html' %}
{% load static %}
{% block body %}
<style>
    main {
        background-color: #19273d;
        padding: 20px;
    }
    #parent {
        background-color: #9e9e9e;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        border: 2px solid #0f32f5;
    }
    .card {
        background-color: #a6c2df;
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
        padding: 1rem;
        margin-bottom: 1rem;
        border-color: #0f32f5;
        
    }

</style>

<main>

    <h1 class="text-center mt-4 mb-4 fw-bolder text-primary text-decoration-underline">E-Commerce  Store</h1>
    
    <div class="d-flex flex-column justify-content-center align-items-center border-2 border-primary rounded p-3 m-3">
        <div id="parent" class="d-flex flex-column justify-content-center align-items-center border-2 border-primary rounded p-3 m-3">
            <h4 class="text-center, text-success fw-older"><u><b>From ksh. 59.999</b></u></h4>
            <div class="card mb-3" col-lg-6 col-md-6 col-sm-12 style="max-width: 600px;">
                <p>On this package of e-commerce, we deliver a complete e-commerce solution for your business.</p>
                <p>We offer: </p>
                <ul style="list-style-type:circle; padding-left: 20px;">
                    <li>Dynamic Product Catalog & Cart Setup 🗹</li>
                    <li>Secure M-Pesa & Card Payment Integration 🗹</li>
                    <li>Free Premium Hosting & Custom Domain 🗹</li>
                    <li>6 Months of Complimentary Tech Support 🗹</li>
                </ul>
            </div>
            <div class="card mb-3" col-lg-6 col-md-6 col-sm-12 style="max-width: 600px;">
                <h4 class="text-danger">Book Now!</h4>
                <p>Ready to get started? <a href="{% url 'contact' %}" class="text-decoration-underline" >Contact</a>  us today to schedule a free consultation! <br> OR ...</p> 
                <p>Make your reservation now by making <span class="text-danger">a 20% down payment</span> <span class="text-success fw-bolder">(Ksh. 12,000)</span> and take the first step towards growing your online business!</p>
        
            </div>
        </div>
        <!--Booking form-->
        <div class="mt-4 text-dark align-content-center align-items-center border-success border-3 border mb-5 rounded p-3" style="display: absolute;" style="max-width: 600px; border: 4px solid #08f113;">
            <form>
                <h3 class="text-success text-center"><u>Lipa na Mpesa</u></h3>
                <div class="form-group m-3">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter your name" onfocus="this.placeholder=''" onblur="this.placeholder='Enter your name'" style="border: 2px solid #08f113;">
                </div>
                <div class="form-group m-3">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="email@example.com" onfocus="this.placeholder=''" onblur="this.placeholder='email@example.com'" style="border: 2px solid #08f113;">
                </div>
                <div class="form-group m-3">
                    <label for="phone">Phone:</label>
                    <input type="tel" class="form-control" id="phone" placeholder="+254 7XX XXX XXX" onfocus="this.placeholder=''" onblur="this.placeholder='+254 7XX XXX XXX'" style="border: 2px solid #08f113;">
                </div>
                
            </form>
                <div>
                <button type="submit" id="web" class="btn mt-3 border-3 text-center p-3 btn-success" style="display: flex; align-items: center; justify-content: center; margin: 0 auto;">Pay Ksh. 12,000</button>
                </div>
        </div>

    </div>
    



</main>




{% endblock %}















