{% extends 'starter-page.html' %}
{% load static %}
{% block body %}

 <main class="main">


      <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Portfolio</h2>
        <p>These are just some of the many projects that we have delivered in the recent days</p>
      </div><!-- End Section Title -->

     <div class="container">
    <div class="isotope-layout" data-default-filter="*" data-layout="fitRows" data-sort="original-order">

        <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-product">Product</li>
            <li data-filter=".filter-branding">Branding</li>
            <li data-filter=".filter-books">Books</li>
        </ul><!-- End Portfolio Filters -->

        <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                <div class="portfolio-content h-100">
                    <a href="{% static 'assets/img/LMS.jpeg' %}" data-gallery="portfolio-gallery-app" class="glightbox">
                        <img src="{% static 'assets/img/LMS.jpeg'%}" class="img-fluid" alt="">
                    </a>
                    <div class="portfolio-info">
                        <h4><a href="portfolio.html" title="More Details">LMS</a></h4>
                        <p>A comprehensive Learning Management application that incorporates all academic features including library</p>
                    </div>
                </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                <div class="portfolio-content h-100">
                    <a href="{% static 'assets/img/frauddetector.png' %}" data-gallery="portfolio-gallery-app" class="glightbox">
                        <img src="{% static 'assets/img/frauddetector.png'%}" class="img-fluid" alt="">
                    </a>
                    <div class="portfolio-info">
                        <h4><a href="portfolio.html" title="More Details">Transaction Fraud Detector</a></h4>
                        <p>This is a machine learning model application that detects fraudulent transactions in mobile money transfer and credit cards</p>
                    </div>
                </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                <div class="portfolio-content h-100">
                    <a href="{% static 'assets/img/fx.png' %}" data-gallery="portfolio-gallery-app" class="glightbox">
                        <img src="{% static 'assets/img/fx.png'%}" class="img-fluid" alt="">
                    </a>
                    <div class="portfolio-info">
                        <h4><a href="portfolio.html" title="More Details">FXT Bot</a></h4>
                        <p>A trading bot that helps predict stock prices enabling the user make informed decisions on buy and sell of stocks in the stock market</p>
                    </div>
                </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
                <div class="portfolio-content h-100">
                    <a href="{% static 'assets/img/IMS.webp' %}" data-gallery="portfolio-gallery-app" class="glightbox">
                        <img src="{% static 'assets/img/IMS.webp'%}" class="img-fluid" alt="">
                    </a>
                    <div class="portfolio-info">
                        <h4><a href="portfolio.html" title="More Details">IMS</a></h4>
                        <p>An Inventory Management system application that enables enterprises monitor and manage their products in stocks and make decisions on which to restock and which are in high demand</p>
                    </div>
                </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                <div class="portfolio-content h-100">
                    <a href="{% static 'assets/img/uniquest.png' %}" data-gallery="portfolio-gallery-app" class="glightbox">
                        <img src="{% static 'assets/img/uniquest.png'%}" class="img-fluid" alt="">
                    </a>
                    <div class="portfolio-info">
                        <h4><a href="portfolio.html" title="More Details">UniQuest Travels</a></h4>
                        <p>This is a tours and travel web application that focuses on tour guides for various destinations across Kenya</p>
                    </div>
                </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                <div class="portfolio-content h-100">
                    <a href="{% static 'assets/img/Parkinson.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox">
                        <img src="{% static 'assets/img/Parkinson.jpg'%}" class="img-fluid" alt="">
                    </a>
                    <div class="portfolio-info">
                        <h4><a href="portfolio.html" title="More Details">Parkinson's disease detector</a></h4>
                        <p>A machine Learning model application that helps detect the deadly parkinson's disease in the early stages of development for early medication and treatment</p>
                    </div>
                </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                <div class="portfolio-content h-100">
                    <a href="{% static 'assets/img/evoting.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox">
                        <img src="{% static 'assets/img/evoting.jpg'%}" class="img-fluid" alt="">
                    </a>
                    <div class="portfolio-info">
                        <h4><a href="portfolio.html" title="More Details">eVoting System</a></h4>
                        <p>An electronic voting system that emphasizes on security, transparent and trustworthy electoral process</p>
                    </div>
                </div>
            </div><!-- End Portfolio Item -->

<!--            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">-->
<!--                <div class="portfolio-content h-100">-->
<!--                    <a href="{% static 'assets/img/portfolio/portfolio-5.webp' %}" data-gallery="portfolio-gallery-app" class="glightbox">-->
<!--                        <img src="{% static 'assets/img/portfolio/portfolio-5.webp'%}" class="img-fluid" alt="">-->
<!--                    </a>-->
<!--                    <div class="portfolio-info">-->
<!--                        <h4><a href="portfolio.html" title="More Details">Books 2</a></h4>-->
<!--                        <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                <div class="portfolio-content h-100">
                    <a href="{% static 'assets/img/realestate.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox">
                        <img src="{% static 'assets/img/realestate.jpg'%}" class="img-fluid" alt="">
                    </a>
                    <div class="portfolio-info">
                        <h4><a href="portfolio.html" title="More Details">Dreamscape Realty</a></h4>
                        <p>This is a smart real estate web application that uses machine learning algorithms to prevent fraud and help search and predict houses prices in Kenyan regions</p>
                    </div>
                </div>
            </div><!-- End Portfolio Item -->

<!--            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">-->
<!--                <div class="portfolio-content h-100">-->
<!--                    <a href="{% static 'assets/img/portfolio/portfolio-12.webp' %}" data-gallery="portfolio-gallery-app" class="glightbox">-->
<!--                        <img src="{% static 'assets/img/portfolio/portfolio-12.webp'%}" class="img-fluid" alt="">-->
<!--                    </a>-->
<!--                    <div class="portfolio-info">-->
<!--                        <h4><a href="portfolio.html" title="More Details">Product 3</a></h4>-->
<!--                        <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">-->
<!--                <div class="portfolio-content h-100">-->
<!--                    <a href="{% static 'assets/img/portfolio/portfolio-9.webp' %}" data-gallery="portfolio-gallery-app" class="glightbox">-->
<!--                        <img src="{% static 'assets/img/portfolio/portfolio-9.webp'%}" class="img-fluid" alt="">-->
<!--                    </a>-->
<!--                    <div class="portfolio-info">-->
<!--                        <h4><a href="portfolio.html" title="More Details">Branding 3</a></h4>-->
<!--                        <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">-->
<!--                <div class="portfolio-content h-100">-->
<!--                    <a href="{% static 'assets/img/portfolio/portfolio-6.webp' %}" data-gallery="portfolio-gallery-app" class="glightbox">-->
<!--                        <img src="{% static 'assets/img/portfolio/portfolio-6.webp'%}" class="img-fluid" alt="">-->
<!--                    </a>-->
<!--                    <div class="portfolio-info">-->
<!--                        <h4><a href="portfolio.html" title="More Details">Books 3</a></h4>-->
<!--                        <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

        </div><!-- End Portfolio Container -->
    </div>
</div>

    </section><!-- /Portfolio Section -->

<!--    &lt;!&ndash; Page Title &ndash;&gt;-->
<!--    <div class="page-title dark-background">-->
<!--      <div class="container position-relative">-->
<!--        <h1>Portfolio Details</h1>-->
<!--        <p>Esse dolorum voluptatum ullam est sint nemo et est ipsa porro placeat quibusdam quia assumenda numquam molestias.</p>-->
<!--        <nav class="breadcrumbs">-->
<!--          <ol>-->
<!--            <li><a href="index.html">Home</a></li>-->
<!--            <li class="current">Portfolio Details</li>-->
<!--          </ol>-->
<!--        </nav>-->
<!--      </div>-->
<!--    </div>&lt;!&ndash; End Page Title &ndash;&gt;-->

    <!-- Portfolio Details Section -->
    <section id="portfolio-details" class="portfolio-details section">

      <div class="container" data-aos="fade-up">

        <div class="portfolio-details-slider swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "navigation": {
                "nextEl": ".swiper-button-next",
                "prevEl": ".swiper-button-prev"
              },
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center">

            <div class="swiper-slide">
              <img src="{% static 'assets/img/LMS.jpeg' %}" alt="">
            </div>

            <div class="swiper-slide">
              <img src="{% static 'assets/img/Parkinson.jpg' %}" alt="">
            </div>

            <div class="swiper-slide">
              <img src="{% static 'assets/img/fx.png' %}" alt="">
            </div>

            <div class="swiper-slide">
              <img src="{% static 'assets/img/IMS.webp' %}" alt="">
            </div>

          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-pagination"></div>
        </div>

        <div class="row justify-content-between gy-4 mt-4">

          <div class="col-lg-8" data-aos="fade-up">
            <div class="portfolio-description">
              <h2>About The Projects above</h2>
              <p>
                The above is just some of the many projects we have worked on recently from various different clients.
                  We deliver the projects as per the client's description in terms of the look, features and what to include.
              </p>
              <p>
                However, we sometimes include the latest cutting edge technologies to ensure that our clients get the best out of their ideas.
                  We give free consultations to client's who may not be fully aware about enterprise requirements and technologies that boost business marketability thus
                  ensuring that our clients get the best out of their package
              </p>

              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>I am a proud developer and seeing my work help business thrive is my greatest joy. I am a proud member of ByteBridge Technologies, a platform that
                      has enabled me grow my skills and advance in tech experience.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <div>
                     <a href="https://github.com/Cptzeph23" target="_blank">
                         <img src="{% static 'assets/img/graduation.jpeg' %}" class="testimonial-img" alt="">
                          <h3>Zeph Aseka</h3>
                         <h4>Developer</h4>
                     </a>

                </div>
              </div>

              <p>
                We also provide teaching classes of tech skills and assign small tasks to our junior staffs to help them grow confidence in software design and development.
                  We are targeting to reach a wide audience of tech enthusiasts who are willing to learn and become experts in the tech space.
                  Feel free to reach out for product development or for training
              </p>


            </div>
          </div>

          <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong> Web Development</li>
                <li><strong>Client</strong> Uniquest tours</li>
                <li><strong>Project date</strong> 11 November, 2025</li>
                <li><strong>Project URL</strong> <a href="#">www.uniquesttravels.tours</a></li>
                <li><a href="https://www.uniquesttravels.tours/" class="btn-visit align-self-start" target="_blank">Visit Website</a></li>
              </ul>
            </div>
          </div>

        </div>

      </div>

    </section><!-- /Portfolio Details Section -->

  </main>

{% endblock %}