{% extends 'starter-page.html' %}
{% load static %}
{% block body %}


<main class="main">

<!--    &lt;!&ndash; Page Title &ndash;&gt;-->
<!--    <div class="page-title dark-background">-->
<!--      <div class="container position-relative">-->
<!--        <h1>Service Details</h1>-->
<!--        <p>Esse dolorum voluptatum ullam est sint nemo et est ipsa porro placeat quibusdam quia assumenda numquam molestias.</p>-->
<!--        <nav class="breadcrumbs">-->
<!--          <ol>-->
<!--            <li><a href="index.html">Home</a></li>-->
<!--            <li class="current">Service Details</li>-->
<!--          </ol>-->
<!--        </nav>-->
<!--      </div>-->
<!--    </div>&lt;!&ndash; End Page Title &ndash;&gt;-->

    <!-- Service Details Section -->

    <!-- Alt Services Section -->
    <h1 class="text-primary  text-center mt-5 text-bolder"><b><u>Our Services</u></b></h1>
    <section id="alt-services" class="alt-services section">


      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row g-4">
          <div class="col-lg-6 col-xl-3">
            <div class="service-card" data-aos="zoom-in" data-aos-delay="100">
              <div class="card-header">
                <div class="icon-box">
                  <i class="bi bi-code-slash"></i>
                </div>
                <h4>Web Development</h4>
              </div>
              <div class="card-body">
                <p>We build scalable and responsive web-based applications</p>
                <div class="feature-image">
                  <img src="{% static 'assets/img/web1.jpg' %}" alt="Security Services" class="img-fluid">
                </div>
              </div>
              <div class="card-footer">
                <a href="#" class="btn-explore">
                  Explore Service
                  <i class="bi bi-arrow-up-right"></i>
                </a>
              </div>
            </div>
          </div><!-- /Service Card -->

          <div class="col-lg-6 col-xl-3">
            <div class="service-card featured" data-aos="zoom-in" data-aos-delay="200">
              <div class="card-header">
                <div class="icon-box">
                  <i class="bi bi-google-play"></i>
                </div>
                <h4>Mobile & Desktop Applications</h4>
              </div>
              <div class="card-body">
                <p>We build both desktop and mobile applications for both android and iOS</p>
                <div class="feature-image">
                  <img src="{% static 'assets/img/mobileapps.jpg' %}" alt="Technology Solutions" class="img-fluid">
                </div>
              </div>
              <div class="card-footer">
                <a href="#" class="btn-explore">
                  Explore Service
                  <i class="bi bi-arrow-up-right"></i>
                </a>
              </div>
            </div>
          </div><!-- /Service Card -->

          <div class="col-lg-6 col-xl-3">
            <div class="service-card" data-aos="zoom-in" data-aos-delay="300">
              <div class="card-header">
                <div class="icon-box">
                  <i class="bi bi-router"></i>
                </div>
                <h4>Network Solutions</h4>
              </div>
              <div class="card-body">
                <p>WE set up and configure network solutions from servers, switches, Access Points, Subnetting, FireWalls etc
                making sure you get secure and reliable internet connectivity</p>
                <div class="feature-image">
                  <img src="{% static 'assets/img/networking1.jpg' %}" alt="Innovation Services" class="img-fluid">
                </div>
              </div>
              <div class="card-footer">
                <a href="#" class="btn-explore">
                  Explore Service
                  <i class="bi bi-arrow-up-right"></i>
                </a>
              </div>
            </div>
          </div><!-- /Service Card -->

          <div class="col-lg-6 col-xl-3">
            <div class="service-card" data-aos="zoom-in" data-aos-delay="400">
              <div class="card-header">
                <div class="icon-box">
                  <i class="bi bi-cloud-arrow-up"></i>
                </div>
                <h4>Cloud Integration</h4>
              </div>
              <div class="card-body">
                <p>We deploy our solutions to cloud to ensure continuous service delivery from anywhere at anytime</p>
                <div class="feature-image">
                  <img src="{% static 'assets/img/cloud2.jpg' %}" alt="Strategic Planning" class="img-fluid">
                </div>
              </div>
              <div class="card-footer">
                <a href="#" class="btn-explore">
                  Explore Service
                  <i class="bi bi-arrow-up-right"></i>
                </a>
              </div>
            </div>
          </div><!-- /Service Card -->

        </div>
      </div>
    </section><!-- /Alt Services Section -->
    <section id="service-details" class="service-details section">

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">

            <div class="service-box">
              <h4>Serices List</h4>
              <div class="services-list">
                <a href="#" class="active"><i class="bi bi-arrow-right-circle"></i><span>Web Design</span></a>
                <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Web Design</span></a>
                <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Product Management</span></a>
                <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Graphic Design</span></a>
                <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Marketing</span></a>
              </div>
            </div><!-- End Services List -->

            <div class="service-box">
              <h4>Download Catalog</h4>
              <div class="download-catalog">
                <a href="#"><i class="bi bi-filetype-pdf"></i><span>Catalog PDF</span></a>
                <a href="#"><i class="bi bi-file-earmark-word"></i><span>Catalog DOC</span></a>
              </div>
            </div><!-- End Services List -->

            <div class="help-box d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-headset help-icon"></i>
              <h4>Have a Question?</h4>
              <p class="d-flex align-items-center mt-2 mb-0"><i class="bi bi-telephone me-2"></i> <span>+1 5589 55488 55</span></p>
              <p class="d-flex align-items-center mt-1 mb-0"><i class="bi bi-envelope me-2"></i> <a href="mailto:contact@example.com">contact@example.com</a></p>
            </div>

          </div>

          <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
            <img src="assets/img/services/services-4.webp" alt="" class="img-fluid services-img">
            <h3>Temporibus et in vero dicta aut eius lidero plastis trand lined voluptas dolorem ut voluptas</h3>
            <p>
              Blanditiis voluptate odit ex error ea sed officiis deserunt. Cupiditate non consequatur et doloremque consequuntur. Accusantium labore reprehenderit error temporibus saepe perferendis fuga doloribus vero. Qui omnis quo sit. Dolorem architecto eum et quos deleniti officia qui.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>Aut eum totam accusantium voluptatem.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Assumenda et porro nisi nihil nesciunt voluptatibus.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea</span></li>
            </ul>
            <p>
              Est reprehenderit voluptatem necessitatibus asperiores neque sed ea illo. Deleniti quam sequi optio iste veniam repellat odit. Aut pariatur itaque nesciunt fuga.
            </p>
            <p>
              Sunt rem odit accusantium omnis perspiciatis officia. Laboriosam aut consequuntur recusandae mollitia doloremque est architecto cupiditate ullam. Quia est ut occaecati fuga. Distinctio ex repellendus eveniet velit sint quia sapiente cumque. Et ipsa perferendis ut nihil. Laboriosam vel voluptates tenetur nostrum. Eaque iusto cupiditate et totam et quia dolorum in. Sunt molestiae ipsum at consequatur vero. Architecto ut pariatur autem ad non cumque nesciunt qui maxime. Sunt eum quia impedit dolore alias explicabo ea.
            </p>
          </div>

        </div>

      </div>

    </section><!-- /Service Details Section -->

  </main>


{% endblock %}