{% extends 'starter-page.html' %}
{% load static %}
{% block body %}


  <!-- Team Section -->
    <section id="team" class="team section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Team</h2>
        <p>Below is the team behind this great work</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 justify-content-center">

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="team-card">
              <div class="profile-image">
                <img src="{% static 'assets/img/graduation.jpeg'%}" class="img-fluid" alt="" loading="lazy">
                <div class="role-badge">CEO and Founder</div>
                <div class="social-icons">
                     <a href="https://www.linkedin.com/in/zeph-aseka-754a22252/" target="_blank"><i class="bi bi-linkedin text-info"></i></a>
                    <a href="https://x.com/cptzeph" target="_blank"><i class="bi bi-twitter-x text-black"></i></a>
                    <a href="https://www.instagram.com/cptzeph/" target="_blank" ><i class="bi bi-instagram text-danger "></i></a>
                    <a href="https://www.facebook.com/@Cptzeph" target="_blank"><i class="bi bi-facebook"></i></a>
                  <a href="https://wa.me/+254703297902" target="_blank"><i class="bi bi-whatsapp text-success"></i></a>

                </div>
              </div>
              <div class="member-info">
                <h4>Zeph Aseka</h4>
                <p>The CEO and Founder of <span class="sitename fw-bolder"><span class="text-primary">Byte</span>Bridge Technologies</span> as well as senior software developer</p>
              </div>
            </div><!-- End Team Card -->
          </div>



        </div>

      </div>

    </section><!-- /Team Section -->

{% endblock %}